body,
html {
  height: 100%;
}

link {
  text-decoration: none;
  outline: none;
  color: currentColor;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  padding: 150px 50px 150px 50px;

  text-align: center;
  background: #c4c4c4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./images/main-origin.jpg);
}

@media screen and (min-width: 768px) {
  .container {
    background-position: 50% 80%;
  }
}

.main__title {
  margin-top: 0;
  margin-bottom: 40px;

  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  line-height: 1.36;
}

@media screen and (min-width: 768px) {
  .main__title {
    font-size: 46px;
  }
}

@media screen and (min-width: 1024px) {
  .main__title {
    font-size: 56px;
  }
}

.main__button {
  width: 200px;
  height: 50px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 4px;

  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.main__button:hover,
.main__button:focus {
  border: 1px solid #ffffff;
  outline: transparent;
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .main__button {
    width: 250px;
    height: 65px;
    font-size: 22px;
  }
}

@media screen and (min-width: 1024px) {
  .main__button {
    width: 300px;
    height: 80px;
    font-size: 28px;
  }
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .socials__item:not(:last-child) {
    margin-right: 10px;
  }
  .socials__link {
    width: 44px;
    height: 44px;
  }
}

@media screen and (min-width: 768px) {
  .socials__item:not(:last-child) {
    margin-right: 25px;
  }

  .socials__link {
    width: 56px;
    height: 56px;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #ffffff;
}

.socials__icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}

.socials__link:hover,
.socials__link:focus {
  background-color: #2196f3;
  transform: scale(1.2);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: #ffffff;
}

.socials__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
